GEE_PROJECT_ID=your-google-cloud-project-id
GEE_SERVICE_ACCOUNT_EMAIL=
GEE_PRIVATE_KEY=
FRONTEND_URL=http://localhost:5173
USE_MOCK_DATA=true
GEE_NIGHTLIGHT_START_DATE=2024-01-01
GEE_NIGHTLIGHT_END_DATE=2024-12-31
LOW_LIGHT_THRESHOLD=2
